# Xcode
DerivedData/
build/

# User data
*.xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# macOS
.DS_Store